* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 10%, 20%);
  color: hsl(235, 10%, 90%);
  font-family: 'Antonio', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Zen Dots', cursive;
}

input {
  font-family: 'Zen Dots', cursive;
  margin-top: 3px;
  background-color: hsl(120, 10%, 80%);
  padding: 2px 4px;
  border-radius: 9px;
}

label {
  margin-left: 5px;
}

#board-wrapper {
  display: flex;
  justify-content: center;
}

#btn-wrapper {
  height: 30px;
  margin-top: 1rem;
}

#gameboard-area {
  display: grid;
  grid-template-rows: repeat(3, 80px);
  grid-template-columns: 80px 80px 80px;
  column-gap: 3px;
  row-gap: 3px;
  align-items: center;
  justify-items: center;
}

#start-reset-btn {
  background: linear-gradient(hsl(120, 100%, 30%), hsl(120, 100%, 25%));
  font-family: 'Zen Dots', sans-serif;
  padding: 3px 30px;
  border-radius: 50px;
  font-size: larger;
}

#start-reset-btn:active {
  color: white;
}

#start-reset-btn:hover {
  background: linear-gradient(hsl(120, 100%, 20%), hsl(120, 100%, 15%));
}

#top-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

#whose-turn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Zen Dots', cursive;
  height: 3rem;
}

.cell {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(46, 35, 35);
  border: green 5px solid;
  border-radius: 5px;

  font-size: xx-large;
  cursor: pointer;
  transition-duration: 0.5s;
  font-family: Arial, Helvetica, sans-serif;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 430px) {
  input {
    margin-left: 0.5rem;
    margin-top: 0px;
  }

  #top-wrapper {
    width: initial;
  }

  #whose-turn {
    font-size: x-large;
  }

  .form-section {
    flex-direction: row;
  }
}

@media only screen and (min-width: 600px) {
  form {
    flex-direction: row;
    margin-top: 2rem;
  }

  input {
    margin: 0;
    margin-top: 3px;
  }

  #whose-turn {
    font-size: xx-large;
  }

  .form-section {
    flex-direction: column;
    margin: 20px;
  }
}
